@import "carbon-components/css/carbon-components.min.css";
@import "@carbon/charts/styles.min.css";

/* Basic page style resets */
* {
    box-sizing: border-box;
}
  
[hidden] {
    display: none !important;
}
  
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

#title {
    margin-bottom: 2rem;
}

.summary {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 2rem;
}

#chart {
    min-height: 80%;
    max-width: 100%;
    margin-bottom: 2rem;
    padding: 20px;
}

#provinces {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
    justify-items: center;
    column-gap: 20px;
    row-gap: 20px;
}

.province-chart {
    height: 650px;
    padding: 20px;
}

@media screen and (min-width: 1200px) {
    .summary {
        grid-template-columns: repeat(4, 1fr);
    }
    #provinces {
        grid-template-columns: repeat(2, 1fr);
    }
}
