@import "carbon-components/css/carbon-components.min.css";
@import "@carbon/charts/styles.min.css";

/* Basic page style resets */
* {
    box-sizing: border-box;
}
  
[hidden] {
    display: none !important;
}
  
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

#title {
    margin-bottom: 2rem;
}

.summary {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 2rem;
}

.canada {
    min-height: 80%;
    max-width: 100%;
    margin-bottom: 2rem;
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
}

.canada .toolbar {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.canada .toolbar__title {
    flex-grow: 1;
}

.canada #table {
    display: none;
    height: 100%;
    overflow: auto;
}

.canada #table .day {
    min-width: 240px;
}

.canada #table .vaccinations {
    min-width: 170px;
}

.canada #table table {
    min-height: 100%;
}

.canada #chart {
    display: block;
}

.canada.show-table #table {
    display: block;
}

.canada.show-table #chart {
    display: none;
}

#provinces {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    column-gap: 20px;
    row-gap: 20px;
}

.province-chart {
    height: 650px;
    padding: 20px;
}

@media screen and (min-width: 1200px) {
    .summary {
        grid-template-columns: repeat(4, 1fr);
    }
    #provinces {
        grid-template-columns: repeat(2, 1fr);
    }
}
